<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.sg.mad_t02_assignment">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logotn"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MessageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".UserChat"
            />
        <activity
            android:name=".UserChat"
            android:label="@string/title_activity_user_chat"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAPUkVAyyKkDhAs2mdcK94edrxlclPX430" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".AdminModSchool"
            android:parentActivityName=".AdminMain" />
        <activity android:name=".AdminMain" />
        <activity
            android:name=".ForgetPassword"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".Admin_AddSchool"
            android:parentActivityName=".AdminModSchool" />
        <activity
            android:name=".AdminAddBookActivity"
            android:parentActivityName=".AdminModSchool" />
        <activity android:name=".UserInfo" />
        <activity
            android:name=".ResultActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StartQuiz"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CourseSuit"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AcademicContact"
            android:parentActivityName=".ContactActivity" />
        <activity
            android:name=".ChangePassActivity"
            android:parentActivityName=".SettingActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".AcadCalendar"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".schoolactivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CourseActivity"
            android:parentActivityName=".schoolactivity" />
        <activity
            android:name=".GeneralContact"
            android:parentActivityName=".ContactActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".SettingActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BookActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ContactActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GpsActivity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>